$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #ffffff;
$logo-size: 50px;
$font-size:1.2vw;

.containerMain {
  width: 70%;
  margin-left: 15%;
  font: $font-stack;
  color: $primary-color;
  font-size: $font-size;
  margin-top: 2vw;
}

.containerMainDark {
  width: 70%;
  margin-left: 15%;
  font: $font-stack;
  color: $secondary-color;
  font-size: $font-size;
  margin-top: 2vw;
}

.containerLeft {
  float: left;
  width: 47%;
  margin-bottom: 3vw;
  text-align: justify;
}

.containerRight {
  float: left;
  width: 47%;
  margin-left: 5%;
  margin-bottom: 1vw;
  text-align: justify;
}


$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {

  .containerMain {
    width: 90%;
    margin-left: 5%;
    font: $font-stack;
    color: $primary-color;
    font-size: 2vw;
    margin-top: 0vw;
  }

  .containerMainDark {
    width: 90%;
    margin-left: 5%;
    font: $font-stack;
    color: $secondary-color;
    font-size: 2vw;
    margin-top: 0vw;
  }

  .containerLeft {
    float: left;
    width: 47%;
    margin-bottom: 6vw;
  }

  .containerRight {
    float: left;
    width: 47%;
    margin-left: 5%;
    margin-bottom: 6vw;
  }

}


$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {

  .containerMain {
    width: 90%;
    margin-left: 5%;
    font: $font-stack;
    color: $primary-color;
    font-size: 2.6vw;
    margin-top: 2vw;
  }

  .containerMainDark {
    width: 90%;
    margin-left: 5%;
    font: $font-stack;
    color: $secondary-color;
    font-size: 2.6vw;
    margin-top: 2vw;
  }

  .containerLeft {
    float: left;
    width: 47%;
    margin-bottom: 6vw;
  }

  .containerRight {
    float: left;
    width: 47%;
    margin-left: 5%;
    margin-bottom: 6vw;
  }

}
